body {
    background: #FAFAFA;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #5F788A;
}

.site-header .navbar-nav .nav-link {
    color: #CBD5DB;
}

.site-header .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #FFFFFF;
    padding: 10px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428BCA;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 64px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #E3E3E3;
}

.article-metadata a:hover {
    color: #333333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}