{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">Log in</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password-reset' %}">Forgot password?</a>
                </small>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a href="{% url 'register' %}" class="ml-2">Sign up now</a>
                </small>
            </div>
        </form>
    </div>
{% endblock %}